<h1>Tasks Management System</h1>

<form action="/add-task" method="get">
    <input type="text" name="task" />
    <button type="submit">Add Task</button>
</form>

<h2>Tasks</h2>
<ul style="list-style: none">
    {% for task in tasks%}
    <li>
        <b>{{forloop.counter}}.</b> {{task}} | 
        <a href="/delete-task/{{forloop.counter}}">delete</a>
        <a href="/complete_task/{{forloop.counter}}">mark complete</a>
    </li>
    {% endfor %}
</ul>

Server Start Time: {% firstof time "Unknown" %}
